:root {
    --color-test-dark-primary: #191813;
    --color-test-dark-inactive: #7a7971;   
}

.sheet{
    form {
        display: flex;
        flex-direction: row;
    }
    .sheet-body{
        .main-content{
            .abilities{
                display: grid;
                grid-auto-columns: 150;
                grid-auto-rows: 200;
            }
        }
    }
}

